*
!*/

!README.md
!docker-compose.prod.yml
!docker-compose.dev.yml
!pull-latest-and-deploy
!start-app
!start-app.ps1
!compose-with-env
!.gitignore
!.gitattributes
!create-dummy-db.sql

!nginx/default.dev.conf
!nginx/default.prod.conf
!nginx/Dockerfile.dev
!nginx/Dockerfile.prod

!nginx/client/Dockerfile.dev
!nginx/client/package.json
!nginx/client/package-lock.json
!nginx/client/public/**
!nginx/client/src/**

!api/Dockerfile.dev
!api/Dockerfile.prod
!api/index.js
!api/dbController.js
!api/package.json
!api/package-lock.json
!api/pm2.json
!api/entrypoint.sh

