/*src/pages/ownerhomepage.module.css*/


.page {
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    min-height: 100rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /*-webkit-overflow-scrolling: touch;*/
    overflow-y: scroll;
  }
  .text {
    top: 1.5rem;
    left: 6rem;
    float: right;
    position: absolute;
    align-self: center;
  }
  /** For the Service Area and Pricing Forms **/
  /** Red border is temporary for debugging purposes **/
  .top-container {
    top: 6rem;
    width: 95%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap-reverse;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-color: #f50f13;
    border-style: double;
    margin-right: 2rem;
    justify-content: flex-end;
    box-sizing: border-box;
    position: absolute;
  }
   /* Begin Styling for Service Area form */
  

.bottom-container{
  display: flex;
  flex-direction: column;
  border-color: #2ad324;
  border-width: 2px;
  border-style: solid;
  gap: 1rem;
}