.appt-heading{
    color: #000000;
}

.wrapper {
    background-color: rgba(119, 136, 153, 0.664);
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border:#000000 solid 2px;
    border-radius: 4px;
    padding: 1rem;
}

.btn-show{
    align-self: flex-start;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    clear:none;
}

h4 {
    text-align: left;
    line-height: 1;
    margin: 0rem;
}

th,
td {
    padding: 0.75rem;
    text-align: center;
    color: rgb(0, 0, 0);
    position: sticky;
}
td {
    font-weight: 600;
}
tr {
    background-color: #d3cdcd;
}
th {
    background-color:#000000;
}
tr:nth-child(even){
    background-color: #bebebe !important;
}

table{
    overflow-y:scroll;
}
