/*src/pages/ownerhomepage.module.css*/


.page {
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    min-height: 100rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /*-webkit-overflow-scrolling: touch;*/
    overflow-y: scroll;
  }
  .text {
    top: 1.5rem;
    left: 6rem;
    float: right;
    position: absolute;
    align-self: center;
  }
  /** For the Service Area and Pricing Forms **/
  /** Red border is temporary for debugging purposes **/
  .top-container {
    top: 6rem;
    width: 95%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap-reverse;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-color: #f50f13;
    border-style: double;
    margin-right: 2rem;
    justify-content: flex-end;
    box-sizing: border-box;
    position: absolute;
  }
   /* Begin Styling for Service Area form */
  .form--service-area {
    width: auto;
    height: auto;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: #0e0100;
    border-style: double;
    border-width: 1px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .confirm {
    color: #d6d3d3;
    width: 9rem;
    box-shadow: 5px 5px 10px 0px #8f8f90;
    transition: 0.3s;
    align-items: center;
    border: none;
    justify-content: center;
    background-color: rgba(38, 122, 56, 0.9);
    border-radius: .25rem;
    padding: 0.5rem;
    font-size: 1.4rem;
  }
  .confirm:hover {
    transition: 0.2s;
    background-color: #258c3b;
  }
  .confirm:active {
    transform: scale(0.9);
    transition: 0.2s;
    background-color: rgba(47, 129, 47, 0.94);
  }
  .btn-confirm-text {
    height: 100%;
    align-self: center;
    font-family: Source Sans Pro;
    text-transform: capitalize;
  }
  .heading-srvc-area, .heading--controllers {
    top: 0.5rem;
    margin-left: 1rem;
    font-family: Arial;
  }
  .service-area-wrapper {
    float: right;
    width: 30rem;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
  }
  .address-form {
    width: auto;
    height: 15rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: pink;
    border-width: 2px;
    border-style: solid;
  }
  
  .biz-address1:focus, .biz-address2:focus {
    border-color: rgb(188, 241, 241);
    background-color: #b1ddf1;
  }
 

  .biz-address1, .biz-address2 {
    width: 20rem;
    height: 2rem;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    transition: 0.3s;
    
    border-style: solid;
    border-width: 1px;
   
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: .25rem;
  }
  
  .input-zip {
    width: 6rem;
    height: 2rem;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    transition: 0.3s;
   
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: .25rem;
  }
  .input-zip:focus {
    background-color: #92AFF9;
  }
  .input-city {
    width: 10.5rem;
    height: 2rem;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: .25rem;
  }
  .input-state {
    width: 4rem;
    height: 2rem;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: .25rem;
  }
  .select-radius {
    height: 2rem;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    transition: 0.3s;
    border-color: #080808;
    border-width: 1px;
    border-radius: .25rem;
    background-color: rgba(214, 202, 209, 0.35);
  }
  .select-radius:focus {
    background-color: #92AFF9;
  }
  
  
/*********************************/
/**** Controller form Styling ****/
.form--controllers{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 87%;
  margin-right: auto;
  margin-left: auto;
  border-color: #000000;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  gap: 0.5rem;
}

/**Brand and Cost Table**/
.container-controller-table{
  display: flex;
  flex-wrap: wrap;
  border-color: black;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  height: 12.5rem;
  overflow-y: auto;
  width: auto;
  gap: 1rem;
  box-sizing: border-box;
}
.input--brand{
  width: 10.5rem;
  height: 2rem;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
 
  background-color: rgba(214, 202, 209, 0.35);
  border-radius: .25rem;
}
.input--price{
  width: 4.375rem;
  height: 2rem;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: rgba(214, 202, 209, 0.35);
  border-radius: .25rem;
  box-sizing: border-box;
}

/*table { 
  border-collapse: collapse; 
  width: auto; 
  text-align: center;
}
th, td { 
  background: #95a394; 
  color: rgb(0, 0, 0);
  overflow: hidden;
  border: 1px solid #0000;
  height: 1rem;
  position: sticky;
  padding: 0.5rem;
  text-align: center;
  background-color: #dad0d0a2;
  color: rgb(12, 12, 12);
}

h4 {
  text-align: center;
  line-height: 1;
  margin: 0rem;
}*/

th{
  background-color:#5c474785;
}
tr:nth-child(even){
  background-color: #5c474785;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border: 1px solid red;
  overflow: scroll;
  border-collapse: collapse;
  overflow-y: auto;
  overflow:scroll;
  height: 6rem;
}

h4 {
  text-align: center;
  line-height: 1;
  margin: 0rem;
}

th,
td {
  padding: 1rem;
  text-align: center;
  background-color: #545F79;
  color: white;
  position: sticky;
}

.bottom-container{
  bottom: 2rem;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  top: 5rem;
  width: 95%;
  height: 30rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  border-color: blue;
  border-style: double;
  justify-content: left;
  overflow-y: scroll;
  padding: 2rem;
}

.heading-schedule{
  font-size: 1.5rem;
  position: relative;
  top: .5rem;
  margin: 0rem;
  left: 4rem;
}
.container--schedule{
  display: flex;
  width: auto;
  height: 96%;
  margin: auto;
  border-color: orange;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

.table--appointments{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: .25rem;
  width: auto;
  height: 20rem;
  overflow-y: scroll;
  overflow: scroll;
  position: relative;
  top: 4rem;
  left:-2rem;
}