/*src/pages/ownerhomepage.module.css*/

.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .text {
    top: 1.5rem;
    left: 801px;
    float: right;
    position: absolute;
    align-self: center;
  }
  .top-container {
    top: 96px;
    float: right;
    right: 0px;
    width: auto;
    height: 351px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 2rem;
    border-color: #f50f13;
    border-style: double;
    border-width: 1px;
    margin-right: 2rem;
    justify-content: flex-end;
  }
  .form--service-area {
    float: right;
    width: 424px;
    height: 244px;
    margin: 48px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-color: #0e0100;
    border-style: double;
    border-width: 1px;
    border-radius: 8px;
    justify-content: space-between;
  }
  .confirm {
    color: #d6d3d3;
    right: 0px;
    width: 135px;
    bottom: 13px;
    height: 36px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #8f8f90;
    margin: 8px;
    transition: 0.3s;
    align-items: center;
    border: none;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(38, 122, 56, 0.9);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 18px;
  }
  .confirm:hover {
    transition: 0.2s;
    background-color: #258c3b;
  }
  .confirm:active {
    transform: scale(0.9);
    transition: 0.2s;
    background-color: rgba(47, 129, 47, 0.94);
  }
  .btn-confirm-text {
    height: 100%;
    align-self: center;
    font-family: Source Sans Pro;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .heading-srvc-area {
    top: -5px;
    left: 1rem;
    float: right;
    position: absolute;
    font-family: Arial;
  }
  .service-area-wrapper {
    top: 0px;
    /*flex: 0 0 auto;818*/
    left: 1px;
    width: 335px;
    height: 170px;
    display: flex;
    position: absolute;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
  }
  .address-form {
    width: 335px;
    height: 121px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-top: .5rem;
    align-items: center;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 0px;
    padding-bottom: 2px;
    justify-content: center;
  }
  .biz-address1 {
    top: 0px;
  }
  .biz-address1:focus, .biz-address2:focus {
    border-color: rgb(188, 241, 241);
    background-color: #b1ddf1;
  }
  .biz-address2 {
    top: 42px;
  }

  .biz-address1, .biz-address2 {
    left: 0px;
    float: left;
    width: 316px;
    height: 27px;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: .5rem;
    transition: 0.3s;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    margin-bottom: .5rem;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: 4px;
  }
  
  .input-zip {
    right: -70px;
    width: 96px;
    bottom: -8px;
    height: 27px;
    position: absolute;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: .5rem;
    transition: 0.3s;
    margin-left: 1rem;
    margin-bottom: .5rem;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: 4px;
  }
  .input-zip:focus {
    background-color: #92AFF9;
  }
  .input-city {
    left: 0px;
    width: 170px;
    bottom: 0px;
    height: 27px;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: 4px;
  }
  .input-state {
    left: 197px;
    width: 80px;
    bottom: 0px;
    height: 27px;
    margin-right: .5rem;
    margin-left: .5rem;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    background-color: rgba(214, 202, 209, 0.35);
    border-radius: 4px;
  }
  .select-radius {
    left: 0px;
    bottom: 22px;
    height: 27px;
    bottom: -10px;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: .5rem;
    transition: 0.3s;
    margin-left: 1rem;
    border-color: #080808;
    border-width: 1px;
    border-radius: 4px;
    background-color: rgba(214, 202, 209, 0.35);
  }
  .select-radius:focus {
    background-color: #92AFF9;
  }
  
  .radius {
    left: 0px;
    bottom: 17px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0px;
  }
  /*
    float: right;
    width: 1883px;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 446px;
    display: flex;
    margin-top: 1rem;
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }*/
  @media(max-width: 991px) {
    .container {
      box-shadow: 5px 5px 10px 0px #d4d4d4;
      align-items: center;
      border-color: #080808;
      border-style: solid;
      border-width: 1px;
      flex-direction: column;
      justify-content: center;
    }
    .text {
      top: 57px;
      left: 0px;
      right: 0px;
      margin: auto;
      position: absolute;
      align-self: center;
      text-align: center;
    }
    .top-container {
      top: 245px;
      left: 0px;
      right: 0px;
      height: 316px;
      margin: auto;
      position: absolute;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: row;
      justify-content: flex-end;
    }
    .form--service-area {
      width: 442px;
      height: 242px;
      position: relative;
      align-self: flex-end;
      box-shadow: 5px 5px 10px 0px #d4d4d4;
      align-items: center;
      border-color: #000000;
      border-style: outset;
      border-width: 2px;
      border-radius: 15px;
      flex-direction: column;
      justify-content: center;
    }
    .btn-confirm-text {
      top: 1rem;
      left: 1rem;
      position: absolute;
      align-self: flex-start;
      text-align: center;
    }
    .biz-address1 {
      left: 7px;
      width: 347px;
      bottom: 53px;
      height: 38px;
      position: absolute;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #cfe5f5;
    }
    .biz-address2 {
      top: 80px;
      left: 9px;
      width: 347px;
      height: 38px;
      position: absolute;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #cfe5f5;
    }
    .bottom-container {
      right: -3px;
      width: 961px;
      bottom: 0px;
      height: 282px;
      position: absolute;
      align-self: center;
      margin-top: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }
  }
  