.appt-heading{
    color: #000000;
}

.wrapper {
    padding: 1rem;
    box-sizing: border-box; 
    position: relative;
    border-radius: 2px;
    width:70%;
    height: 50%;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(195, 195, 202);
   
}

h4 {
    text-align: center;
    line-height: 1;
    margin: 0rem;
}

th,
td {
    padding: 0.75rem;
    text-align: center;
    color: rgb(0, 0, 0);
    position: sticky;
}
td {
    font-weight: 600;
}
tr {
    background-color: #d3cdcd;
}
th {
    background-color:#000000;
}
tr:nth-child(even){
    background-color: #fcfcfb !important;
}

.table{
    overflow-y:scroll;
    height: 18rem;
    border: 2px solid #0000;
    border-radius: .25rem;
}
